<div class="row">
    <div *ngFor="let member of members" class="col-2">
        <app-member-card [member]="member">
        </app-member-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [totalItems]="pagination.totalItems"
            [boundaryLinks]="true"
            [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            [customFirstTemplate]="firstTemplate"
            [customLastTemplate]="lastTemplate"
            [customPreviousTemplate]="prevTemplate"
            [customNextTemplate]="nextTemplate"
            [customPageTemplate]="pageTemplate">
    </pagination>
</div>