<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary"> Sign up</h2>
    <hr>
    <div class="form-group">
        <input 
        [class.is-invalid] = "registerForm.get('username').errors && registerForm.get('username').touched"
        type="text" 
        class="form-control" 
        formControlName="username" 
        placeholder="Username">
        <div class="invalid-feedback">Please enter a username</div>
    </div>

    <div class="form-group mt-2">
        <input 
        [class.is-invalid] = "registerForm.get('password').errors && registerForm.get('password').touched"
        type="password" 
        class="form-control" 
        formControlName="password" 
        placeholder="Password">
        <div 
            *ngIf="registerForm.get('password').hasError('required')" 
            class="invalid-feedback">Please enter a password
        </div>
        <div 
            *ngIf="registerForm.get('password').hasError('minlength')" 
            class="invalid-feedback">Password too short, at least 4 chars
        </div>
        <div 
            *ngIf="registerForm.get('password').hasError('minlength')" 
            class="invalid-feedback">Password too long, at most 8 chars
        </div>
    </div>

    <div class="form-group mt-2">
        <input
            [class.is-invalid] = "registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched"
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            placeholder="Password">
        <div *ngIf="registerForm.get('confirmPassword').hasError('required')"
            class="invalid-feedback">Please enter a confirm password</div>
        <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching') && !registerForm.get('confirmPassword').hasError('required')"
            class="invalid-feedback">Confirm password must match password</div>
    </div>
    
    <div class="form-group text-center">
        <button class="btn btn-success me-1 m-1" type="submit"> Register</button>
        <button class="btn btn-default ms-1 m-1" type="button" (click)="cancel()"> Cancel</button>
    </div>
</form>

<p>From value: {{registerForm.value | json}}</p>
<p>From status: {{registerForm.status | json}}</p>